<module>
	<rawname>contactmanager</rawname>
	<repo>standard</repo>
	<name>Contact Manager</name>
	<version>14.0.2</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<changelog>
		*14.0.2* Merge in changes from 13
		*14.0.1.1* FREEPBX-14407 Cant exclude contact from showing in contact groups
		*14.0.1beta3* Merge in changes from 13
		*14.0.1alpha1* Add number search by group
	</changelog>
	<category>Admin</category>
	<description>
		Contact Manager
	</description>
	<menuitems>
		<contactmanager needsenginedb="yes">Contact Manager</contactmanager>
	</menuitems>
	<depends>
		<version>14.0.0</version>
		<module>userman ge 13.0.70</module>
	</depends>
	<supported>
		<version>14.0</version>
	</supported>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Contactmanager" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Contactmanager" namespace="FreePBX\modules">bulkhandlerGetTypes</method>
			<method callingMethod="import" class="Contactmanager" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Contactmanager" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
	<userman class="Userman" namespace="FreePBX\modules">
			<method callingMethod="delGroup" class="Contactmanager" namespace="FreePBX\modules">usermanDelGroup</method>
			<method callingMethod="addGroup" class="Contactmanager" namespace="FreePBX\modules">usermanAddGroup</method>
			<method callingMethod="updateGroup" class="Contactmanager" namespace="FreePBX\modules">usermanUpdateGroup</method>
			<method callingMethod="delUser" class="Contactmanager" namespace="FreePBX\modules">usermanDelUser</method>
			<method callingMethod="addUser" class="Contactmanager" namespace="FreePBX\modules">usermanAddUser</method>
			<method callingMethod="updateUser" class="Contactmanager" namespace="FreePBX\modules">usermanUpdateUser</method>
			<method callingMethod="myShowPage" class="Contactmanager" namespace="FreePBX\modules">usermanShowPage</method>
			<method callingMethod="getExtraUserDetailsDisplay" class="Contactmanager" namespace="FreePBX\modules">usermanUserDetails</method>
		</userman>
	</hooks>
	<database>
		<table name="contactmanager_groups">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="owner" type="integer"/>
			<field name="name" type="string" length="80"/>
			<field name="type" type="string" length="25"/>
		</table>
		<table name="contactmanager_group_entries">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="groupid" type="integer"/>
			<field name="user" type="integer"/>
			<field name="displayname" type="string" length="100" notnull="false"/>
			<field name="fname" type="string" length="100" notnull="false"/>
			<field name="lname" type="string" length="100" notnull="false"/>
			<field name="title" type="string" length="100" notnull="false"/>
			<field name="company" type="string" length="100" notnull="false"/>
			<field name="address" type="string" length="200" notnull="false"/>
		</table>
		<table name="contactmanager_entry_speeddials">
			<field name="id" type="integer" primarykey="true"/>
			<field name="entryid" type="integer"/>
			<field name="numberid" type="integer"/>
		</table>
		<table name="contactmanager_entry_numbers">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="entryid" type="integer"/>
			<field name="number" type="string" length="100" notnull="false"/>
			<field name="extension" type="string" length="100" notnull="false"/>
			<field name="type" type="string" length="100" notnull="false"/>
			<field name="flags" type="string" length="100" notnull="false"/>
		</table>
		<table name="contactmanager_entry_images">
			<field name="entryid" type="integer" primarykey="true"/>
			<field name="image" type="blob" notnull="false"/>
			<field name="format" type="string" length="45"/>
			<field name="gravatar" type="boolean" default="0"/>
		</table>
		<table name="contactmanager_entry_userman_images">
			<field name="uid" type="integer" primarykey="true"/>
			<field name="image" type="blob" notnull="false"/>
			<field name="format" type="string" length="45"/>
			<field name="gravatar" type="boolean" default="0"/>
		</table>
		<table name="contactmanager_entry_xmpps">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="entryid" type="integer"/>
			<field name="xmpp" type="string" length="100" notnull="false"/>
		</table>
		<table name="contactmanager_entry_emails">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="entryid" type="integer"/>
			<field name="email" type="string" length="100" notnull="false"/>
		</table>
		<table name="contactmanager_entry_websites">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="entryid" type="integer"/>
			<field name="website" type="string" length="100" notnull="false"/>
		</table>
	</database>
</module>
