.rnav {
    padding-bottom: 25px;
    hr {
        width: 100%;
        margin-left: 0px;
    }
	ul {
		max-height:60%;
	}
}
.rnavH3 {
    color:gray;
    font-weight: bold;
    list-style:none;
    font-size: 13px !important;
}
li {
    padding-top:0px;
}

table.items {
  width: 100%;
  border-spacing: 0px;
  tr td:first-child {
    width: 25px;
    font-size: 150%;
  }
}
.clickable {
  cursor: pointer;
}
